<%- include('./partials/header.ejs') %>

<h1 class="text-center">Home</h1>
<p class="text-center">Below you will see others and your shared ideas. To upload click on compose and enter content</p>

<% posts.forEach((data)=>{ %>
    <div>
        <h1><%= data.title %></h1>
        <p><%= data.post.substring(0,100) + "..." %> <a href="/posts/<%= data._id %>">Read More</a> </p>
    </div>
<% }) %>


<%- include('./partials/footer.ejs') %>